<%= form_with(model: entrenador) do |form| %>
  <% if entrenador.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entrenador.errors.count, "error") %> prohibited this entrenador from being saved:</h2>

      <ul>
        <% entrenador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
