<h1>Editing entrenador</h1>

<%= render "form", entrenador: @entrenador %>

<br>

<div>
  <%= link_to "Show this entrenador", @entrenador %> |
  <%= link_to "Back to entrenadors", entrenadors_path %>
</div>
