<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a UC Voley, <%= @user.name %></h1>
    <p>
      Tu cuenta fue creada con exito en nuestro sitio,
      te registraste como: <%= @user.name %>.<br>
    </p>
    <p>
      Para iniciar sesion clickee el sigiente link: <%= @url %>.
    </p>
    <p>Gracias por ser parte de la familia cruzada!</p>
  </body>
</html>