<div class="btn-group" role="group" aria-label="Sort Jugador">
  <button id="btn_sort_tc" type="button" class="btn btn-primary">Todo Competidor</i></button>
  <button id="btn_sort_u19" type="button" class="btn btn-primary">Sub 19</i></button>
  <button id="btn_sort_u17" type="button" class="btn btn-primary">Sub 17</i></button>
  <button id="btn_sort_u15" type="button" class="btn btn-primary">Sub 15</i></button>
  <button id="btn_sort_school" type="button" class="btn btn-primary">Escuelita</i></button>
</div>