<div class="btn-group" role="group" aria-label="Sort Jugador">
  <button id="btn_sort_tc" type="button" class="btn btn-primary">Todo Competidor</i></button>
  <button id="Senior" type="button" class="btn btn-primary">Senior</i></button>
  <button id="btn_sort_u20" type="button" class="btn btn-primary">Sub 20</i></button>
  <button id="btn_sort_u19" type="button" class="btn btn-primary">Sub 19</i></button>
  <button id="btn_sort_u18" type="button" class="btn btn-primary">Sub 18</i></button>
  <button id="btn_sort_u17" type="button" class="btn btn-primary">Sub 17</i></button>
  <button id="btn_sort_u16" type="button" class="btn btn-primary">Sub 16</i></button>
  <button id="btn_sort_u15" type="button" class="btn btn-primary">Sub 15</i></button>
  <button id="btn_sort_u14" type="button" class="btn btn-primary">Sub 14</i></button>
  <button id="btn_sort_u13" type="button" class="btn btn-primary">Sub 13</i></button>
  <button id="btn_sort_u12" type="button" class="btn btn-primary">Sub 12</i></button>
  <button id="btn_sort_school" type="button" class="btn btn-primary">Escuelita</i></button>
</div>