<h1 id='titulo'>Edicion de Jugador</h1>
<style>
  #titulo{
    margin-left: 10%;
    margin-top: 3%;

  }
</style>
<%= render "form", jugador: @jugador %>

<br>

<div>
  <%= link_to "Show this jugador", @jugador %> |
  <%= link_to "Back to jugadors", jugadors_path %>
</div>
