<h1>Editing evaluacion</h1>

<%= render "form", evaluacion: @evaluacion %>

<br>

<div>
  <%= link_to "Show this evaluacion", @evaluacion %> |
  <%= link_to "Back to evaluacions", evaluacions_path %>
</div>
