<p style="color: green"><%= notice %></p>

<h1>Evaluacions</h1>

<div id="evaluacions">
  <% @evaluacions.each do |evaluacion| %>
    <%= render evaluacion %>
    <p>
      <%= link_to "Show this evaluacion", evaluacion %>
    </p>
  <% end %>
</div>

<%= link_to "New evaluacion", new_evaluacion_path %>
